@import url('https://fonts.googleapis.com/css?family=Cabin:300,500,700');
@import '~flexboxgrid';
@import "~@blueprintjs/core/dist/variables";
@import "~@blueprintjs/core/dist/blueprint.css";

.ss-light-heading {
  font-weight: 500;
  font-size: 0.9em;
  color: $pt-text-color-muted;
}

.row {
  margin: 0;
}

.ss-app {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Cabin', sans-serif;
  background: $light-gray5;

  .ss-main-container {
    position: absolute;
    background: $dark-gray2;
    top: 0px;
    right: 0px;
    bottom: 0px;
  }

  .ss-left-container {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background: $dark-gray3;
  }
}
