@import "~@blueprintjs/core/dist/variables";

.ss-layout-manager {
  position: absolute;
  width: 100%;
  top: 35px;
  bottom: 0px;
  right: 0px;

  .tab-group-container {
    position: relative;
    padding: 0;
  }

  .tab-group {
    padding: 0px;
    height: 100%;
    border-right: 5px solid black;

    .tab-list {
      height: 36px;
      position: relative;
      background: $dark-gray1;
      .icons {
        width: 60px;
        text-align: right;
        position: absolute;
        right: 5px;
        top: 3px;
        bottom: 3px;
      }
    }

    .tab-content {
      position: absolute;
      padding: 0px;
      top: 36px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      height: 100%;
    }
  }
  .tabs {
    margin-right: 60px;
  }
}
