@import "~@blueprintjs/core/dist/variables";

.ss-sidebar-pane {
  .title {
    font-size: 0.9em;
    padding: 2.5px 5px;
    color: $gray4;
    background: $dark-gray1;
    box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2), 0 1px 1px rgba(16, 22, 26, 0.4);

    .header {
      padding: 8px 10px;
      font-weight: bolder;
      text-transform: uppercase !important;
    }

    .icons {
      text-align: right;
    }
  }

  .content {
    background: $dark-gray3;
  }
}

